@import './utils/variables.scss';
@import './utils/mixins.scss';

.container {
  @include contentPaddingInline;
  margin-top: 32px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  
  &_logo {
    width: 50px;
    height: 55px;
  }

  &_switch {
    color: #7d7d7d;
    font-weight: 300;
    font-size: 18px;
    font-family: $namu_font;
  }

  &_active {
    color: black;
  }

  &_span {
    cursor: pointer;
  }
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;

  &_title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 300;
    font-family: $namu_font;
    background: linear-gradient(to right, black, gray);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    min-width: 296px;
  }

  &_subtitle {
    margin: 0;
    font-family: $inter_font;
    font-weight: 200;
    font-size: 18px;
    color: rgba(23, 23, 23, 1);
    margin-bottom: 14px;
    min-width: 296px;
  }

  &_btn {
    background-color: $primary-btn-color;
    border: none;
    border-radius: 5px;
    width: 189px;
    height: 39px;
    color: $main-text-color;
    font-family: $namu_font;
    font-size: 14px;
  }
}
