// 375, 576, 768, 960, 1024, 1280, 1440, 1600, 1920, 2560

@mixin onMobile {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin onMobileExtended {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onBigTablet {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin onSmallDesktop {
  @media (min-width: 1199px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin onBigDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin onExtendedDesktop {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin onFullHD {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 32px;

  @include onTablet() {
    padding-inline: 72px;
  }

  @include onBigDesktop {
    padding-inline: 118px;
  }
}