@font-face {
  font-family: 'Namu';
  src: url('./utils/fonts/NAMU-1600.otf');
}

@font-face {
  font-family: 'Inter';
  src: url('./utils/fonts/Inter_18pt-Black.ttf');
}

$main-text-color: #F5F5F5;
$primary-btn-color: #127CFF;
$dark-button-color: #3A3A3A;
$gray-btn-color: #F3F3F3;

$namu_font: 'Namu', san-serif;
$inter_font: 'Inter', san-serif;
